@page "/stuff/add"
@rendermode InteractiveServer

<form class="row d-grid d-lg-flex">
    <div class="col-lg-4">
        <label for="name" class="form-label">نام کالا</label>
        <input type="text" class="form-control mb-2 rounded-3" id="name">
    </div>
    <div class="col-lg-4">
        <label for="categoryId" class="form-label">نام دسته بندی</label>
        <select id="categoryId" class="form-select mb-2 rounded-3">
            <option selected>انتخاب کنید...</option>
            <option>دسته بندی اول</option>
            <option>دسته بندی دوم</option>
        </select>
    </div>
    <div class="col-lg-4">
        <label for="brandId" class="form-label">نام برند</label>
        <select id="brandId" class="form-select mb-2 rounded-3">
            <option selected>انتخاب کنید...</option>
            <option>برند اول</option>
            <option>برند دوم</option>
        </select>
    </div>
    <div class="col-lg-4">
        <label for="producerName" class="form-label">نام تأمین کننده</label>
        <input type="text" class="form-control mb-2 rounded-3" id="producerName">
    </div>
    <div class="col-lg-4">
        <label for="number" class="form-label">موجودی</label>
        <input type="number" class="form-control mb-2 rounded-3" id="number">
    </div>
    <div class="col-lg-4">
        <label for="amount" class="form-label mb-2 rounded-3">قیمت</label>
        <div class="input-group">
            <span class="input-group-text">ريال</span>
            <input type="text" class="form-control" id="amount" aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
    <div class="col-lg-4">
        <label for="producerEmail" class="form-label">ایمیل تأمین کننده</label>
        <input type="email" class="form-control mb-2 rounded-3" id="producerEmail">
    </div>
    <div class="col-lg-4">
        <label class="form-label">تاریخ نمایش</label>
        <div class="input-group">
            <span class="input-group-text">از</span>
            <input type="text" aria-label="First name" class="form-control">
            <span class="input-group-text">تا</span>
            <input type="text" aria-label="Last name" class="form-control">
        </div>
    </div>
    <div class="col-lg-4">
        <label for="number" class="form-label mb-2 rounded-3">رنگ بندی محصول</label>
        <div class="order-md-1 d-flex gap-2">
            <button type="button" class="btn btn-primary bi-plus-lg rounded-3 d-flex align-items-center justify-content-center aspect-ratio aspect-ratio-1x1 p-2"></button>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <label for="photos" class="form-label">تصویر کالا</label>
            <input class="form-control mb-2 rounded-3" type="file" id="photos" multiple>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <label for="catalogs" class="form-label">کاتالوگ کالا</label>
            <input class="form-control mb-2 rounded-3" type="file" id="catalogs" multiple>
        </div>
    </div>
</form>

@code {

}
