@using ShoppingBlazor.Services.Products
@using ShoppingBlazor.Services.Products.Dtos
@inject IProductService ProductService
<h3>افزودن کالا</h3>

<StuffEditor
    OnConfirm="Add">
</StuffEditor>

<div class="m-2 d-grid gap-2 d-md-flex">
    <button type="button" class="btn btn-secondary bi bi-x-circle" data-bs-dismiss="modal">بستن</button>
</div>

@code {
    [Parameter] public EventCallback OnAdd { get; set; }

    public void Add(AddStuffRequest stuff)
    {
        ProductService.AddStuff(stuff);

        OnAdd.InvokeAsync();
    }
}
