@page "/category"
@using ShoppingBlazor.Entities.Products
@using ShoppingBlazor.Infrastructure.Extensions
@using ShoppingBlazor.Services.Products.Dtos
@rendermode InteractiveServer

<MudText Typo="Typo.h5">دسته بندی‌ها</MudText>

<div class="container-fluid gap-3 d-grid md-flex">
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudTextField @bind-Value="Text" Clearable="true" Label="نام" Variant="Variant.Outlined" Typo="Typo.input" Margin="Margin.Dense"></MudTextField>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudSelect MultiSelection="true"
                       Margin="Margin.Dense"
                       SelectAll="true"
                       SelectAllText="انتخاب همه"
                       ToStringFunc="group => group.Display()"
                       @bind-SelectedValues="CategoryGroups"
                       Variant="Variant.Outlined"
                       Label="گروه"
                       Dense="true"
                       Placeholder="گروه دسته بندی"
                       Clearable="true">
                @foreach (var group in Enum.GetValues(typeof(CategoryGroup)).Cast<CategoryGroup>())
                {
                    <MudSelectItem Value="@group">@group.Display()</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem>
            <MudFab Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.Search"/>
            <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.SearchOff" Color="Color.Secondary" Label="نمایش همه" />
        </MudItem>
    </MudGrid>

    <div class="row shadow rounded-4 table-responsive">
        <table class="table table-striped table-hover rounded-3 align-middle text-nowrap">
            <thead>
            <tr class="align-middle">
                <th scope="col" class="col-1">شناسه</th>
                <th scope="col">نام دسته بندی</th>
                <th scope="col">نام گروه</th>
                <th scope="col" class="col-1">عملیات</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button class="rounded-3 btn btn-sm btn-warning bi bi-pencil-fill"></button>
                    <button class="rounded-3 btn btn-sm btn-danger bi bi-trash-fill"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    <button class="rounded-3 btn btn-sm btn-warning bi bi-pencil-fill"></button>
                    <button class="rounded-3 btn btn-sm btn-danger bi bi-trash-fill"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>
                    <button class="rounded-3 btn btn-sm btn-warning bi bi-pencil-fill"></button>
                    <button class="rounded-3 btn btn-sm btn-danger bi bi-trash-fill"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <nav aria-label="Page navigation example" class="order-md-2">
            <ul class="pagination justify-content-start">
                <li class="page-item">
                    <a class="page-link rounded-end-3" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-start-3" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="order-md-1 d-flex gap-2">
            <button type="button" class="btn btn-primary bi-plus-lg rounded-circle d-flex align-items-center justify-content-center aspect-ratio aspect-ratio-1x1 p-3"></button>
            <button type="button" class="btn btn-secondary bi bi-file-earmark-spreadsheet rounded-circle d-flex align-items-center justify-content-center aspect-ratio aspect-ratio-1x1 p-3"></button>
        </div>
    </div>
</div>

@code {
    public string? Text { get; set; }

    public IEnumerable<CategoryGroup> CategoryGroups { get; set; } = new HashSet<CategoryGroup>();

    public IEnumerable<CategoryDto> Categories { get; set; } =
    [
        new(1, "Category 1", CategoryGroup.Group1),
        new(2, "Category 2", CategoryGroup.Group1),
        new(3, "Category 3", CategoryGroup.Group1),
        new(4, "Category 4", CategoryGroup.Group1),
        new(5, "Category 5", CategoryGroup.Group1),
        new(6, "Category 6", CategoryGroup.Group1),
        new(7, "Category 7", CategoryGroup.Group1),
        new(8, "Category 8", CategoryGroup.Group1),
        new(9, "Category 9", CategoryGroup.Group1),
        new(10, "Category 10", CategoryGroup.Group2)
    ];

}